:root {
    --primary-color: tomato;
    --secondary-color: #00f;
    --primary-color-inverted: #09c;
    --secondary-color-inverted: #ff0;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Monument Extended";
    color: #fff;
    font-weight: 400;
}

body {
    background: #1a1a1a;
    margin-top: 2rem;
}
