/* tech_section */

.tech_section{
    position: relative;
    height: 600px;
    padding: 2%;
    text-align:center;
    /* background-color: #d7cec1; */
}
.tech_section h1{
    /* font-family: 'Bungee Hairline', cursive; */
    font-family: "Typometry";
    text-transform:uppercase;
    font-size: 6rem;
    padding-bottom: 5rem;
    color: whitesmoke;
}
.tech-icons{
    border: 4px solid #222222;
    padding: 1%;
    width: 4.5vw;
    height: 4vw;
    transform: rotate3d(1, 1, 1, 10deg);
    /* background-color: whitesmoke; */
}